.footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 41, 41);
    color: white;
    font-size: .7rem;

    a {
        text-decoration: none;
    }
}